@using Bookmarks.Web.Models.ViewModels;
@using Bookmarks.Web.Helpers;

@model IList<BookmarkListViewModel>

@{
    ViewBag.Title = "Home";
}

@if (ViewBag.NotificationMessage != null)
{
    <div class="alert alert-success fade-in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Html.Raw(ViewBag.NotificationMessage)
    </div>
}

@Html.ListBookmarks(Model)

@Html.ActionLink("View all bookmarks...", "Index", "Bookmarks", null, new { @class = "btn btn-info pull-right" })